@model List<NipponQuest.Models.Flashcard>

<div class="container mt-4">
    <h2 class="text-white">Confirm Import</h2>
    <form asp-action="FinalizeImport" method="post">
        <div class="mb-3">
            <label class="text-white">Deck Title</label>
            <input type="text" name="deckTitle" value="@ViewBag.DeckName" class="form-control bg-dark text-white" />
        </div>

        <table class="table table-dark table-striped">
            <thead>
                <tr><th>Front</th><th>Back</th></tr>
            </thead>
            <tbody>
                @for (int i = 0; i < Model.Count; i++)
                {
                    <tr>
                        <td>
                            <input type="text" name="cards[@i].FrontText" value="@Model[i].FrontText" class="form-control form-control-sm bg-dark text-white" />
                        </td>
                        <td>
                            <input type="text" name="cards[@i].BackText" value="@Model[i].BackText" class="form-control form-control-sm bg-dark text-white" />
                            <input type="hidden" name="cards[@i].ImageFilePath" value="@Model[i].ImageFilePath" />
                            <input type="hidden" name="cards[@i].AudioFilePath" value="@Model[i].AudioFilePath" />
                        </td>
                    </tr>
                }
            </tbody>
        </table>
        <button type="submit" class="btn btn-success">Save to Database</button>
    </form>
</div>