@model NipponQuest.Models.Hiragana

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Hiragana</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Symbol)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Symbol)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Romaji)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Romaji)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.StrokeOrderUrl)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.StrokeOrderUrl)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.UnlockLevel)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.UnlockLevel)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
